.item div {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  margin-bottom: 20px;
  width: 300px;
  padding: 20px;
}

.statusOnline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}

.statusOffline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.avatar {
  margin-left: 40px;
}

.name {
  margin: 0;
  margin-left: 40px;
  font-size: 28px;
}

.list {
  padding: 0;
  margin-left: 40px;
}
